Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
INSTALL
.deps
.libs
*.la
*.lo
*.o
*.exe
ltmain.sh
libtool
m4
missing
src/ugtrain
src/tools/ugsimfind
src/tools/ugptrfind
src/lib/.dirstamp
tags
