Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
INSTALL
.deps
.libs
*.la
*.lo
*.o
ltmain.sh
libtool
m4
missing
src/ugtrain
scanmem_extension/scanmem
linuxhooking/ugpreload
