Source: ugtrain
Section: utils
Priority: optional
Maintainer: Sebastian Parschauer <s.parschauer@gmx.de>
Build-Depends: aegis-builder (>= 1.4), debhelper (>=5)
Standards-Version: 3.8.2

Package: ugtrain
Architecture: any
Depends: ${shlibs:Depends}
Replaces: ugtrain
Provides: ugtrain
Suggests: binutils, scanmem
Description: universal elite game trainer for CLI
 The ugtrain is an advanced free and universal game trainer for the CLI under
 GPLv3 license on GitHub and Sourceforge.net. It is mostly written in C with
 C++ parts for convenience and some shell scripts. The dynamic memory support
 sets it apart. An integrated preloader, a memory discovery and a memory
 hacking library are included for this.
 The ugtrain uses one simple config file per game which can be exchanged
 with others. Examples for games which allow cheating are included. These
 also come with automatic adaption for dynamic memory so that you can use
 them right away on your system after adaption.
 .
 This is an experimental version. Major features and options may change
 in future.
