Source: ugtrain
Section: utils
Priority: extra
Maintainer: Sebastian Parschauer <s.parschauer@gmx.de>
Build-Depends: debhelper (>=8)
Standards-Version: 3.9.3
Homepage: https://github.com/ugtrain/ugtrain

Package: ugtrain
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: binutils, scanmem
Description: Universal elite game trainer for the command line
 The ugtrain is an advanced free and universal game trainer for the command
 line under GPLv3 license. The dynamic memory support sets it apart. An
 integrated preloader, a memory discovery and a memory hacking library are
 included for this. The ugtrain uses one simple config file per game which
 can be exchanged with others. Examples for games which allow cheating are
 included. These also come with automatic adaption for dynamic memory so
 that you can use them right away on your system after executing it.
 .
 This is an experimental version. Major features and options may change
 in future.
